.landing-fourth {
  height: 200vh;
  width: 100%;
}
.landing-fourth-card {
  height: 50%;
}

.landing-fourth-content {
  display: flex;
  align-content: center;
  height: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  flex-wrap: wrap;
}

.fourth-card-header {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
}

.fourth-card-text {
  font-size: 30px;
  line-height: 45px;
}
