.landing-second {
  height: 100vh;
  width: 100%;
  margin-top: 300px;
}

.landing-second-header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
}

.landing-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70%;
  position: relative;
  flex-wrap: wrap;
}         

.card-header {
  font-weight: 700;
  font-size: 23px;
  line-height: 45px;
}

.card-image-container {
  height: 200px;
  width: 100%;
}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.alternative-image {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-text {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 15px;
  line-height: 25px;
}
