.landing-second {
    height: 100vh;
    width: 100%;
}
.landing-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    position: relative;
    flex-wrap: wrap;
}         

.card-header {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
}

.card-text {
    font-size: 30px;
    line-height: 45px;
}
