.landing-first {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    height: 96vh;
    justify-content: space-between;
    overflow: hidden;
}
.landing-content {
    align-content: center;
    position: relative;
}

.landing-image {
    margin-left: auto;
    position: relative;
}
