.log-in-page {
    margin-left: 140px;
    margin-right: 140px;
    height: 100vh;
}

.log-in-form {
    display: flex;
    align-content: center;
    height: 90%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
