.register {
    height: 100vh;
}

.register-header {
    margin-left: 140px;
    margin-right: 140px;
}

.register-types {
    display: flex;
    align-content: center;
    height: 90%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
