.main-header .item {
  font-weight: 700 !important;
  font-size: 20px;
}

.main-header-computer.ui.menu {
  margin-left: 140px;
  margin-right: 140px;
}

.mobile-header {
    margin-right: 30%;
}

.ui.sign-up {
  background-color: #2DE1C2;
  box-shadow: 0px 5px 10px #2DE1C2;
}

.sign-up-text {
  font-weight: 700 !important;
  color: #FFFFFF !important;
  font-size: 20px;
}
