.sidebar-main {
  background: #2DE1C2;
  overflowX: hidden;
}
.open-button {
  position: fixed; /* or absolute */
  top: 10%;
  left: 9%;
}

.visible-sidebar {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  z-index: 1;
}

.performer-search-form {
  display: flex;
  margin-top: 30vh;
  align-items: center;
  justify-content: center;
}


.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}
